/* src/components/CategoryProducts.css */
.category-products-container {
    padding: 1rem;
    background-color: #f4f4f4;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensure there's consistent spacing between items */
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 0.5rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(33.333% - 1rem); /* Targets three items per row with appropriate spacing */
    position: relative;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
}

.product-name {
    font-weight: bold;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price {
    font-size: 0.85rem;
    color: #888;
    margin-bottom: 10px;
}

.product-item button {
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #eee;
    color: #333;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .product-item {
        width: calc(50% - 1rem); /* Two items per row on medium screens */
    }
}

@media (max-width: 600px) {
    .product-item {
        width: 100%; /* One item per row on small screens */
    }
}

.back-button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 350px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-image {
    width: 100%;
    margin-bottom: 20px;
}

.modal-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-description {
    font-size: 1rem;
}

.modal-price {
    font-size: 1.25rem;
    color: #444;
    display: block;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.age-verification {
    color: red;
    font-weight: bold;
}
